body {
  background-image: url("bg1.jpg");
   display: flex;
}


#wrapper {
   margin: auto; 
}



#stamp { display: none; }

#buttons {
  display: inline-block;
  vertical-align: top;
  width: 50px;
}

#stamp-one, #stamp-two{
      
      display: inline-block;
      width: 50px;
      height: 50px;
      font-size: 15px;
      font-family:avenir;
      line-height: 50px;
      text-align: center;
      background-color: brown;
      outline: 1px solid black;
      -webkit-user-select: none;
      cursor: pointer;
}

#stamp-three, #stamp-four{
      
      display: inline-block;
      width: 50px;
      height: 50px;
      font-size: 15px;
      font-family:avenir;
      line-height: 50px;
      text-align: center;
      background-color: rgb(130,20,150);
      outline: 1px solid black;
      -webkit-user-select: none;
      cursor: pointer;
}

#stamp-five{
      
      display: inline-block;
      width: 50px;
      height: 50px;
      font-size: 15px;
      font-family:avenir;
      line-height: 50px;
      text-align: center;
      background-color: rgb(210,220,15);
      outline: 1px solid black;
      -webkit-user-select: none;
      cursor: pointer;
}

#stamp-one:hover, #stamp-two:hover,#stamp-three:hover,#stamp-four:hover,#stamp-five:hover  {
      opacity:0.5;
}

.active-stamp {
  background: pink !important;
}