/** {*/
/*    -webkit-box-sizing:border-box;*/
/*    -moz-box-sizing:border-box;*/
/*    box-sizing:border-box;*/
/*}*/


body {
  background-image: url("typebg.png");
  display: flex;
  width: 100vw;
  height: 100vh;
}

.image1 {
    position: absolute;
    top: 120px;
    left: 60px;
    width: 50px;
    height: 100px;
    background: url('s1.png');
}
.image2 {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 50px;
    height: 100px;
    background: url('s2.png');
}
.image3 {
    position: absolute;
    top: 230px;
    left: 60px;
    width: 50px;
    height: 100px;
    background: url('s3.png');
}
.image4 {
    position: absolute;
    top: 230px;
    left: 100px;
    width: 50px;
    height: 100px;
    background: url('s4.png');
}

.shape {
    margin:auto;
    display: inline-block;
    min-width: 700px;
    background-color: rgba(255, 0, 255, 0.5);
}

.clear {
    align-items: flex-start;
    font-family: sans-serif;
    text-align: inline-block;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    background-color: buttonface;
    box-sizing: border-box;
    height: 5%;
    display:inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.boxwrapper {
    vertical-align: top;
    padding: 10px;
    display: inline-block;
    background: rgba(0, 255, 0, 0.5);
}

.canvaswrapper {
    padding: 10px;
    display: inline-block;
    background: rgba(255, 0, 0, 0.5);
}





.box {
  background-color: rgb(250,250,250);
  display: inline-block;
  vertical-align: top;
  /*top: 50px;*/
  width: 150px;
  height: 500px;
}

.canvas {
    width: 800px;
    height: 500px;
    /*position: absolute;*/
    /*left: 150px;*/
    z-index: 0;
    background-image: url("canvasbg.jpg");
}
